<!-- CSS -->
<link rel="stylesheet" href="/aboutEjs.css">
<!-- CONTENT-->
<body>
    <div class="container">
        <img src="/foto.jpg" alt="Foto" class="photo">
        <p class="text">Saya adalah seorang calon programmer yang penuh semangat, saat ini mengikuti program bootcamp yang berbasis di Bandung. Dalam perjalanan ini, saya sangat antusias memperdalam ilmu di bidang web programming, khususnya dalam pengembangan aplikasi menggunakan Node.js dan React.js.</p>
    </div>
</body>
</html>


