<style>
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    justify-content: center; /* Mengatur konten di tengah */
  }
  .container {
    display: flex;
    align-items: center; 
  }
  .photo {
    flex-shrink: 0; /* gambar tidak mengecil */
    width: 250px; /* Lebar gambar */
    height: auto; /*  proporsi gambar */
    margin-right: 80px; /* Ruang antara gambar dan teks */
  }
  .text {
    flex: 1; /* Membuat teks  */
  }
</style>
</head>
<body>
  <h1>Bimo S.</h1>
  <div class="container">
    <img src="/foto.jpg" alt="Foto" class="photo">
    <div class="text">
      <p>Saya adalah seorang calon programmer yang penuh semangat, saat ini mengikuti program bootcamp yang berbasis di Bandung. Dalam perjalanan ini, saya sangat antusias memperdalam ilmu di bidang web programming, khususnya dalam pengembangan aplikasi menggunakan Node.js dan React.js. Dengan kombinasi kedua teknologi ini, saya bertekad untuk menciptakan aplikasi yang tidak hanya fungsional, tetapi juga memberikan pengalaman pengguna yang luar biasa. Setiap hari adalah kesempatan baru bagi saya untuk belajar dan tumbuh, serta mewujudkan impian saya menjadi seorang developer yang handal.</p>
    </div>
  </div>
</body>