<!%- include('layout/header') %>
<!%- include('layout/nav') %>

<% if (message) { %>
    <h1><strong><%= message %></strong></h1>
<% }  %>


<% if (contacts.length > 0) { %>
    <br>
    <h1>daftar contact</h1>
    <br>
    <table>
        <tr>
            <th>Nama</th>
            <th>Email</th>
        </tr>
        <% contacts.forEach(contact => { %>
        <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
        </tr>
        <% }) %>
    </table>
<% } else { %>
    <p>Tidak ada kontak yang tersedia.</p>
<% } %>

<!%- include('layout/footer') %>
